In [2]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [3]:
#Select our url
url = "https://en.wikipedia.org/wiki/Tourism_in_Portugal"

In [4]:
#Obtein the data
html = requests.get(url)

In [5]:
soup = BeautifulSoup(html.content, "html.parser")

In [6]:
# We want to take the information of a table so we see how many tables are in our site and which one we want to take
tablas = soup.find_all("table")

In [7]:
len(tablas)

10

In [20]:
tourists = tablas[0]

In [21]:
tourist = tourists.find_all("a")[2]
tourist

In [22]:
tourist.text

'France'

In [23]:
tourists = soup.find_all("table")[0]

In [27]:
tourists.find_all("tr")[1]

<tr>
<td>1</td>
<td><span class="datasortkey" data-sort-value="United Kingdom"><span class="flagicon"><img alt="" class="thumbborder" data-file-height="600" data-file-width="1200" decoding="async" height="12" src="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/23px-Flag_of_the_United_Kingdom.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/35px-Flag_of_the_United_Kingdom.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/a/ae/Flag_of_the_United_Kingdom.svg/46px-Flag_of_the_United_Kingdom.svg.png 2x" width="23"/>Â </span><a href="/wiki/United_Kingdom" title="United Kingdom">United Kingdom</a></span></td>
<td>2,099,008</td>
<td>2,042,867</td>
<td>2,145,902
</td></tr>

In [30]:
tourists.find_all("tr")[1].find_all("td")[3].text.strip()

'2,042,867'

In [36]:
# Iterate this data. in order to get all values
tourist_barr = []
for f in tourists.find_all("tr"): 
    fila = [e for e in f.find_all("td")]
    if len(fila) > 0:
        pais = { "Pais" : fila[1].text.strip(),
                "Number_tourists_2017": fila[3].text
              
        }
        
        tourist_barr.append(pais)

In [37]:
data_tourists = pd.DataFrame(tourist_barr)
data_tourists

                            Pais Number_tourists_2017
0                 United Kingdom            2,042,867
1                          Spain            2,069,645
2                         France            1,641,912
3                        Germany            1,602,066
4                         Brazil            1,103,718
5                  United States              981,822
6                          Italy              665,930
7                    Netherlands              610,161
8                        Ireland              357,542
9                          China              324,258
10                        Canada              346,428
11                       Belgium              327,264
12                   Switzerland              303,013
13                        Poland              285,362
14                        Sweden              190,183
15                       Denmark              142,573
16                 Other foreign            2,313,413
17  Total international visitors           25,249,904