In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [2]:
data_model = pd.read_csv("./output/data_model_def.csv")
data_model.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,reserved_room_type,deposit_type,customer_type,adr,total_of_special_requests
0,1,0.464043,0.0,6,27,1,0,0,2,0.0,0,2,0.767045,6,6,6,0,2,0.0,0
1,1,1.000000,0.0,6,27,1,0,0,2,0.0,0,2,0.767045,6,6,6,0,2,0.0,0
2,1,0.009498,0.0,6,27,1,0,1,1,0.0,0,2,0.335227,2,2,2,0,2,75.0,0
3,1,0.017639,0.0,6,27,1,0,1,1,0.0,0,2,0.335227,2,2,2,0,2,75.0,0
4,1,0.018996,0.0,6,27,1,0,2,2,0.0,0,2,0.335227,2,2,2,0,2,98.0,1

In [3]:
data_model.max()

hotel                           1.0
lead_time                       1.0
arrival_date_year               1.0
arrival_date_month             11.0
arrival_date_week_number       53.0
arrival_date_day_of_month      31.0
stays_in_weekend_nights        16.0
stays_in_week_nights           41.0
adults                         55.0
children                       10.0
babies                         10.0
meal                            4.0
country                         1.0
market_segment                  9.0
distribution_channel            9.0
reserved_room_type              9.0
deposit_type                    2.0
customer_type                   3.0
adr                          5400.0
total_of_special_requests       5.0
dtype: float64

In [4]:
scaler = StandardScaler()

In [5]:
data_model["arrival_date_month"] = scaler.fit_transform(data_model["arrival_date_month"].values.reshape(-1,1))
data_model["arrival_date_week_number"] = scaler.fit_transform(data_model["arrival_date_week_number"].values.reshape(-1,1))
data_model["arrival_date_day_of_month"] = scaler.fit_transform(data_model["arrival_date_day_of_month"].values.reshape(-1,1))
data_model["stays_in_weekend_nights"] = scaler.fit_transform(data_model["stays_in_weekend_nights"].values.reshape(-1,1))
data_model["stays_in_week_nights"] = scaler.fit_transform(data_model["stays_in_week_nights"].values.reshape(-1,1))
data_model["adults"] = scaler.fit_transform(data_model["adults"].values.reshape(-1,1))
data_model["babies"] = scaler.fit_transform(data_model["babies"].values.reshape(-1,1))
data_model["children"] = scaler.fit_transform(data_model["children"].values.reshape(-1,1))
data_model["reserved_room_type"] = scaler.fit_transform(data_model["reserved_room_type"].values.reshape(-1,1))
data_model["total_of_special_requests"] = scaler.fit_transform(data_model["total_of_special_requests"].values.reshape(-1,1))
data_model["meal"] = scaler.fit_transform(data_model["meal"].values.reshape(-1,1))

In [6]:
data_model.max()

hotel                           1.000000
lead_time                       1.000000
arrival_date_year               1.000000
arrival_date_month              1.764512
arrival_date_week_number        1.900928
arrival_date_day_of_month       1.731050
stays_in_weekend_nights        15.128412
stays_in_week_nights           20.260326
adults                         91.849424
children                       24.790883
babies                        102.609076
meal                            3.756238
country                         1.000000
market_segment                  9.000000
distribution_channel            9.000000
reserved_room_type              4.952967
deposit_type                    2.000000
customer_type                   3.000000
adr                          5400.000000
total_of_special_requests       5.586550
dtype: float64

In [7]:
drop_cols = ["market_segment","distribution_channel","deposit_type","customer_type" ]
data_model = data_model.drop(drop_cols, axis =1)
data_model

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,reserved_room_type,adr,total_of_special_requests
0,1,0.464043,0.0,0.144836,-0.012256,-1.685694,-0.932429,-1.316808,0.244755,-0.261059,-0.081618,-0.048998,0.767045,2.647602,0.00,-0.721208
1,1,1.000000,0.0,0.144836,-0.012256,-1.685694,-0.932429,-1.316808,0.244755,-0.261059,-0.081618,-0.048998,0.767045,2.647602,0.00,-0.721208
2,1,0.009498,0.0,0.144836,-0.012256,-1.685694,-0.932429,-0.790536,-1.483635,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,75.00,-0.721208
3,1,0.017639,0.0,0.144836,-0.012256,-1.685694,-0.932429,-0.790536,-1.483635,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,75.00,-0.721208
4,1,0.018996,0.0,0.144836,-0.012256,-1.685694,-0.932429,-0.264264,0.244755,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,98.00,0.540344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118893,0,0.031208,1.0,0.468771,0.576416,1.617159,1.075176,1.314550,0.244755,-0.261059,-0.081618,-0.048998,0.085227,-0.426219,96.14,-0.721208
118894,0,0.138399,1.0,0.468771,0.576416,1.731050,1.075176,1.314550,1.973145,-0.261059,-0.081618,-0.048998,0.318182,1.110692,225.43,1.801895
118895,0,0.046133,1.0,0.468771,0.576416,1.731050,1.075176,1.314550,0.244755,-0.261059,-0.081618,-0.048998,0.244318,0.342236,157.71,4.324999
118896,0,0.147897,1.0,0.468771,0.576416,1.731050,1.075176,1.314550,0.244755,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,104.40,-0.721208
118897,0,0.278155,1.0,0.468771,0.576416,1.503267,1.075176,2.367093,0.244755,-0.261059,-0.081618,1.853620,0.244318,-0.426219,151.20,1.801895

In [8]:
columnas_x = [a for a in (list(data_model.columns)) if a != "adr"]
columnas_x

['hotel',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'reserved_room_type',
 'total_of_special_requests']

In [9]:
X = data_model[columnas_x]
X.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,reserved_room_type,total_of_special_requests
0,1,0.464043,0.0,0.144836,-0.012256,-1.685694,-0.932429,-1.316808,0.244755,-0.261059,-0.081618,-0.048998,0.767045,2.647602,-0.721208
1,1,1.000000,0.0,0.144836,-0.012256,-1.685694,-0.932429,-1.316808,0.244755,-0.261059,-0.081618,-0.048998,0.767045,2.647602,-0.721208
2,1,0.009498,0.0,0.144836,-0.012256,-1.685694,-0.932429,-0.790536,-1.483635,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,-0.721208
3,1,0.017639,0.0,0.144836,-0.012256,-1.685694,-0.932429,-0.790536,-1.483635,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,-0.721208
4,1,0.018996,0.0,0.144836,-0.012256,-1.685694,-0.932429,-0.264264,0.244755,-0.261059,-0.081618,-0.048998,0.335227,-0.426219,0.540344

In [10]:
y = data_model.adr
y.head()

0     0.0
1     0.0
2    75.0
3    75.0
4    98.0
Name: adr, dtype: float64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 6500)

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [13]:
rdm = RandomForestRegressor()

In [14]:
rdm.fit(X_train, y_train)

RandomForestRegressor()

In [15]:
y_pred = rdm.predict(X_test)

In [16]:
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
rmse

19.40202930119126

In [17]:
R2 = metrics.r2_score(y_test,y_pred)
R2

0.8351866687814273