In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [2]:
data_model = pd.read_csv("./output/data_model_def.csv")
data_model.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,reserved_room_type,deposit_type,customer_type,adr,total_of_special_requests
0,1,0.464043,0.0,6,27,1,0,0,2,0.0,0,2,0.767045,6,6,6,0,2,0.0,0
1,1,1.000000,0.0,6,27,1,0,0,2,0.0,0,2,0.767045,6,6,6,0,2,0.0,0
2,1,0.009498,0.0,6,27,1,0,1,1,0.0,0,2,0.335227,2,2,2,0,2,75.0,0
3,1,0.017639,0.0,6,27,1,0,1,1,0.0,0,2,0.335227,2,2,2,0,2,75.0,0
4,1,0.018996,0.0,6,27,1,0,2,2,0.0,0,2,0.335227,2,2,2,0,2,98.0,1

In [3]:
data_model.max()

hotel                           1.0
lead_time                       1.0
arrival_date_year               1.0
arrival_date_month             11.0
arrival_date_week_number       53.0
arrival_date_day_of_month      31.0
stays_in_weekend_nights        16.0
stays_in_week_nights           41.0
adults                         55.0
children                       10.0
babies                         10.0
meal                            4.0
country                         1.0
market_segment                  9.0
distribution_channel            9.0
reserved_room_type              9.0
deposit_type                    2.0
customer_type                   3.0
adr                          5400.0
total_of_special_requests       5.0
dtype: float64

In [4]:
min_max = MinMaxScaler()

In [5]:
data_model["arrival_date_month"] = min_max.fit_transform(data_model[["arrival_date_month"]])
data_model["arrival_date_week_number"] = min_max.fit_transform(data_model[["arrival_date_week_number"]])
data_model["arrival_date_day_of_month"] = min_max.fit_transform(data_model[["arrival_date_day_of_month"]])
data_model["stays_in_weekend_nights"] = min_max.fit_transform(data_model[["stays_in_weekend_nights"]])
data_model["stays_in_week_nights"] = min_max.fit_transform(data_model[["stays_in_week_nights"]])
data_model["adults"] = min_max.fit_transform(data_model[["adults"]])
data_model["babies"] = min_max.fit_transform(data_model[["babies"]])
data_model["children"] = min_max.fit_transform(data_model[["children"]])
data_model["reserved_room_type"] = min_max.fit_transform(data_model[["reserved_room_type"]])
data_model["total_of_special_requests"] = min_max.fit_transform(data_model[["total_of_special_requests"]])
data_model["meal"] = min_max.fit_transform(data_model[["meal"]])

In [6]:
data_model.max()

hotel                           1.0
lead_time                       1.0
arrival_date_year               1.0
arrival_date_month              1.0
arrival_date_week_number        1.0
arrival_date_day_of_month       1.0
stays_in_weekend_nights         1.0
stays_in_week_nights            1.0
adults                          1.0
children                        1.0
babies                          1.0
meal                            1.0
country                         1.0
market_segment                  9.0
distribution_channel            9.0
reserved_room_type              1.0
deposit_type                    2.0
customer_type                   3.0
adr                          5400.0
total_of_special_requests       1.0
dtype: float64

In [7]:
drop_cols = ["market_segment","distribution_channel","deposit_type","customer_type" ]
data_model = data_model.drop(drop_cols, axis =1)
data_model

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,reserved_room_type,adr,total_of_special_requests
0,1,0.464043,0.0,0.545455,0.500000,0.000000,0.000,0.000000,0.036364,0.0,0.0,0.50,0.767045,0.666667,0.00,0.0
1,1,1.000000,0.0,0.545455,0.500000,0.000000,0.000,0.000000,0.036364,0.0,0.0,0.50,0.767045,0.666667,0.00,0.0
2,1,0.009498,0.0,0.545455,0.500000,0.000000,0.000,0.024390,0.018182,0.0,0.0,0.50,0.335227,0.222222,75.00,0.0
3,1,0.017639,0.0,0.545455,0.500000,0.000000,0.000,0.024390,0.018182,0.0,0.0,0.50,0.335227,0.222222,75.00,0.0
4,1,0.018996,0.0,0.545455,0.500000,0.000000,0.000,0.048780,0.036364,0.0,0.0,0.50,0.335227,0.222222,98.00,0.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118893,0,0.031208,1.0,0.636364,0.653846,0.966667,0.125,0.121951,0.036364,0.0,0.0,0.50,0.085227,0.222222,96.14,0.0
118894,0,0.138399,1.0,0.636364,0.653846,1.000000,0.125,0.121951,0.054545,0.0,0.0,0.50,0.318182,0.444444,225.43,0.4
118895,0,0.046133,1.0,0.636364,0.653846,1.000000,0.125,0.121951,0.036364,0.0,0.0,0.50,0.244318,0.333333,157.71,0.8
118896,0,0.147897,1.0,0.636364,0.653846,1.000000,0.125,0.121951,0.036364,0.0,0.0,0.50,0.335227,0.222222,104.40,0.0
118897,0,0.278155,1.0,0.636364,0.653846,0.933333,0.125,0.170732,0.036364,0.0,0.0,0.75,0.244318,0.222222,151.20,0.4

In [8]:
columnas_x = [a for a in (list(data_model.columns)) if a != "adr"]
columnas_x

['hotel',
 'lead_time',
 'arrival_date_year',
 'arrival_date_month',
 'arrival_date_week_number',
 'arrival_date_day_of_month',
 'stays_in_weekend_nights',
 'stays_in_week_nights',
 'adults',
 'children',
 'babies',
 'meal',
 'country',
 'reserved_room_type',
 'total_of_special_requests']

In [9]:
X = data_model[columnas_x]
X.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,reserved_room_type,total_of_special_requests
0,1,0.464043,0.0,0.545455,0.5,0.0,0.0,0.00000,0.036364,0.0,0.0,0.5,0.767045,0.666667,0.0
1,1,1.000000,0.0,0.545455,0.5,0.0,0.0,0.00000,0.036364,0.0,0.0,0.5,0.767045,0.666667,0.0
2,1,0.009498,0.0,0.545455,0.5,0.0,0.0,0.02439,0.018182,0.0,0.0,0.5,0.335227,0.222222,0.0
3,1,0.017639,0.0,0.545455,0.5,0.0,0.0,0.02439,0.018182,0.0,0.0,0.5,0.335227,0.222222,0.0
4,1,0.018996,0.0,0.545455,0.5,0.0,0.0,0.04878,0.036364,0.0,0.0,0.5,0.335227,0.222222,0.2

In [10]:
y = data_model.adr
y.head()

0     0.0
1     0.0
2    75.0
3    75.0
4    98.0
Name: adr, dtype: float64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 6500)

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.metrics import accuracy_score, precision_score, f1_score, recall_score

In [13]:
rdm = RandomForestRegressor()

In [14]:
rdm.fit(X_train, y_train)

RandomForestRegressor()

In [15]:
y_pred = rdm.predict(X_test)

In [16]:
rmse = np.sqrt(metrics.mean_squared_error(y_test,y_pred))
rmse

19.511318590943308

In [17]:
R2 = metrics.r2_score(y_test,y_pred)
R2

0.8333246921524711